# tensorboard logs
tmp/

# misc data
data/

# ipython notebook check points
.ipynb_checkpoints/

# all python binaries
*.pyc

# all vim swap files
*.swp

# local config file
config.json

# all feature files
*.h5


